@import 'mixins.scss';
@import 'vars.scss';

body {
	//background-color: lightgrey;
	background-image: $bodyBgImage;
	background-repeat: no-repeat;
	//background-size: 100% 100%;
	background-size: cover;
}

.container {
	background-color: white;
}

.jumbotron {
	background-color: $boxTransparent !important;
	//background-image: $bodyBgImage;
	color: $lightColor;
	text-align: center;
}

.blog-post {
	.thumbnail {
		max-width: 850px;
		max-height: 350px;
	}
	p {
		width: 850px;
	}
}

.page-nav {
	text-align: center;
	//justify-content: center;
	//align-items: center;
}

.panel-footer {
	text-align: center;
	//text-shadow: 1px 1px black;
	//border: 0px;
	//box-shadow: 100px, 100px, white;

	position: relative;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	padding: 1rem;
}